%h1 Add new property/location Non-Accommodation

%div.sidebar
  = render :partial => 'non_accommodation_nav'

%div.content
  %p= "Last Save: #{distance_of_time_in_words_to_now(non_accommodation.updated_at, false)} ago"

  = render :partial => params[:step]
