%fieldset.combinable-offer
  = form.check_box :combinable_allowed
  = form.label :combinable_allowed, 'Combinable with other offers allowed'

  = form.label :combined_offer, 'Offers allowed to be combined with'
  = form.text_area :combined_offer
