%ul
  %li= link_to 'Corporate Information', edit_admin_signup_path
  %li= link_to 'Billing Information', edit_admin_billing_information_path
  %li= link_to 'Payment Information', edit_admin_payment_path